.body {
    margin: 40px auto 20px;
    padding: 20px;
    width: 50vw;
    font-family: 'Bangers', cursive;
    position: relative;
}

.formation{
}

.formation h2,
.formation p {
    color: white;
}



